* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    color: white;
}

body {
    height: 100vh;
    font-size: 20px;
    background-color: #454d6b;
    font-family: 'Roboto', sans-serif;

}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #454d6b;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(19, 19, 19, 0.3);
    border-radius: 100px;
    border: 3.5px solid #454d6b;
}

#telaPrincipal {
    height: 100%;
}

.topo {
    display: flex;
    justify-content: start;
    padding: 15px 0 10px 60px;
    height: 80px;
    background-color: rgba(19, 19, 19, 0.3);

}

.topo h2 a {
    font-size: 30px;
    width: 110px;
    color: #a13854;
    text-decoration: none;
}

.topo img {
    height: 75px;
    width: 75px;
    margin-top: -10px;
    margin-left: -25px;
}

.sair {
    margin-left: 950px;
    margin-top: 10px;
    text-decoration: none;
}

.centro_tela {
    display: flex;
    justify-content: start;
    list-style: none;
    border-radius: 15px;

}

.barra_naveg {
    text-align: center;
    padding: 88px 5px 88px 5px;
    background-color: rgba(19, 19, 19, 0.3);

}

.naveg {
    text-decoration: none;
}

.barra_naveg ul li {
    text-align: center;
    list-style: none;
    margin: 22px 20px 22px;
}

.trilha_sonora{
    width: 110%;

}

.titulo{
    margin-top: 40px;
    margin-left: 36%;
    border-bottom: rgba(19, 19, 19, 0.4) 1px  solid;
    width: 25%;
    opacity: 0.75;
    margin-bottom: 25px;
    
}

.titulo_preg{
    margin-top: 40px;
    margin-left: 250px;
    width: 50%;
    opacity: 0.75;
    margin-bottom: 25px;
    text-align: center;
    
}

.titulo_pagina {
    filter: drop-shadow(15px 10px 5px #000);
    text-align: center;
}   

.titulo_preg p{
    margin-top: 25px;
}

audio{
    margin-top: 10px;
    margin-left: 400px;
}

.texto p{
    margin-top: 50px;
    margin-left: 300px;
    opacity: 0.8;

}

.rodape {
    padding-top: 20px;
    text-align: start;
    height: 60px;
    background-color: rgba(19, 19, 19, 0.3);

}

.rodape p {
    margin-left: 150px;
}